{{ block "header.html" .Title }}{{ end }}

{{ if not .Session.Userid }}
  {{ if .ErrorMsg }}<p class="error">{{ .ErrorMsg }}</p>{{end}}
  <form method="post" action="login">
    <fieldset>
      <legend>Log In</legend>
      <label for="username">Username:</label>
      <input type="text" name="username" value="{{ .Username }}" /><br />
      <label for="password">Password:</label>
      <input type="password" name="password" />
    </fieldset>
    <input type="submit" value="Log In" name="submit" />
  </form>
{{ else }}
  <p class="login">You are logged in as {{ .Session.Username }}
{{ end }}

{{ block "footer.html" . }}{{ end }}