{{ block "header.html" .Title }}{{ end }}

{{ if .SuccessCreated }}
  <p>Your new account has been successfully created. You're now ready to <a href="login">log in</a>.</p>
{{ else }}
  {{ if .ErrorMsg }}
    <p class="error">{{ .ErrorMsg }}</p>
  {{ end }}
  <p>Please enter your username and desired password to sign up to Mismatch.</p>
  <form method="post" action="signup">
    <fieldset>
      <legend>Registration Info</legend>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="{{ .Username }}" /><br />
      <label for="password1">Password:</label>
      <input type="password" id="password1" name="password1" /><br />
      <label for="password2">Password (retype):</label>
      <input type="password" id="password2" name="password2" /><br />
    </fieldset>
    <input type="submit" value="Sign Up" name="submit" />
  </form>
{{ end }}

{{ block "footer.html" . }}{{ end }}
